apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - volsync-secret.yaml
  - replicationsource.yaml
  - replicationdestination.yaml

namespace: nestmtx