apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n
labels:
  - pairs:
      app.kubernetes.io/name: n8n
      app.kubernetes.io/managed-by: argocd
resources:
  - namespace.yaml
  - httproute.yaml
  - pvc.yaml
helmCharts:
  - name: n8n
    repo: oci://8gears.container-registry.com/library
    version: 2.0.1
    releaseName: n8n
    namespace: n8n
    valuesFile: values.yaml
