apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kyverno
resources:
- namespace.yaml
- rbac-patch.yaml
- volsync-clusterpolicy.yaml
- remove-pvc-datasource.yaml
# - volsync-restore-mutate.yaml  # TEMP DISABLED: needs fix for handling missing RD
helmCharts:
- name: kyverno
  repo: https://kyverno.github.io/kyverno
  version: 3.6.1
  releaseName: kyverno
  valuesFile: values.yaml

patchesJson6902:
- target:
    group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: clusterpolicies.kyverno.io
  patch: |-
    - op: replace
      path: /metadata/annotations
      value:
        argocd.argoproj.io/sync-options: Prune=false
- target:
    group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: policies.kyverno.io
  patch: |-
    - op: replace
      path: /metadata/annotations
      value:
        argocd.argoproj.io/sync-options: Prune=false
