apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kyverno
resources:
  - namespace.yaml
  - volsync-rbac.yaml
  - volsync-clusterpolicy.yaml
helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno
    version: 3.3.4
    releaseName: kyverno
    valuesFile: values.yaml
