apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: csi-driver-nfs
helmCharts:
  # NFS CSI deployment - all nodes reach TrueNAS via 10G switch
  - name: csi-driver-nfs
    repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    version: 4.13.1
    releaseName: csi-driver-nfs
    includeCRDs: true
    namespace: csi-driver-nfs
    valuesFile: values.yaml
resources:
  - namespace.yaml
  - storage-class.yaml
