apiVersion: v1
kind: Service
metadata:
  name: open-webui
  namespace: open-webui
  labels:
    app: open-webui
spec:
  selector:
    app: open-webui
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  type: ClusterIP
