apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
labels:
  - pairs:
      app.kubernetes.io/name: immich
      app.kubernetes.io/managed-by: argocd

resources:
  - library-pvc.yaml
  - ml-cache-pvc.yaml
  - httproute.yaml
  - network-policy.yaml
  - deployment-server.yaml
  - deployment-machine-learning.yaml
  - deployment-valkey.yaml
  - services.yaml
