apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
commonLabels:
  app.kubernetes.io/name: immich
  app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
  - library-pvc.yaml
  - externalsecret.yaml
  - httproute.yaml
  - network-policy.yaml

patches:
  - path: service-patches.yaml

helmCharts:
  - name: immich
    repo: oci://ghcr.io/immich-app/immich-charts
    version: 0.10.3
    releaseName: immich
    namespace: immich
    valuesFile: values.yaml
    includeCRDs: false
