tempo:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: 192.168.10.133:30293
        access_key: ${AWS_ACCESS_KEY_ID}
        secret_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: true
        forcepathstyle: true
  retention: 72h
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  extraEnvFrom:
  - secretRef:
      name: tempo-s3-credentials
