tempo:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-bucket
        endpoint: minio.loki-stack.svc:9000
        access_key: minio
        secret_key: minio123
        insecure: true
  retention: 72h
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
