apiVersion: v1
kind: Service
metadata:
  name: dvwa
  namespace: dvwa
  labels:
    app: dvwa
spec:
  type: ClusterIP
  selector:
    app: dvwa
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
