apiVersion: apps/v1
kind: Deployment
metadata:
  name: kiwix
  namespace: kiwix
  labels:
    app.kubernetes.io/name: kiwix
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kiwix
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kiwix
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      containers:
        - name: kiwix
          image: ghcr.io/kiwix/kiwix-serve:latest
          imagePullPolicy: IfNotPresent
          args:
            - "*.zim"
          ports:
            - name: http
              containerPort: 8080
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 2000m
              memory: 2Gi
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: kiwix-data
