apiVersion: apps/v1
kind: Deployment
metadata:
  name: tubesync
  namespace: tubesync
  labels:
    app: tubesync
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tubesync
  template:
    metadata:
      labels:
        app: tubesync
    spec:
      initContainers:
      - name: init-permissions
        image: busybox
        command: ['sh', '-c', 'mkdir -p /downloads/cache && chown -R 1000:1000 /downloads']
        volumeMounts:
        - name: media
          mountPath: /downloads
      containers:
      - name: tubesync
        image: ghcr.io/meeb/tubesync:v0.15.12
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4848
        env:
        - name: TZ
          value: America/New_York
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: media
          mountPath: /downloads
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: "1"
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: config-pvc
      - name: media
        persistentVolumeClaim:
          claimName: media-pvc
