apiVersion: apps/v1
kind: Deployment
metadata:
  name: convertx
  namespace: convertx
  labels:
    app.kubernetes.io/name: convertx
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: convertx
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: convertx
    spec:
      containers:
        - name: convertx
          image: ghcr.io/c4illin/convertx:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: America/Detroit
            - name: ALLOW_UNAUTHENTICATED
              value: "true"
          ports:
            - name: http
              containerPort: 3000
          volumeMounts:
            - name: data
              mountPath: /app/data
      volumes:
        - name: data
          emptyDir: {}
